{{ imports }}


class Bot:
    def __init__(
        self,
        client: Client,
        token: str,
        *,
        parse_mode: Union[str, Unset] = UNSET,
        disable_link_preview: Union[bool, Unset] = UNSET,
        disable_notification: Union[bool, Unset] = UNSET,
        protect_content: Union[bool, Unset] = UNSET,
        resize_reply_keyboard: Union[bool, Unset] = UNSET,
        api_url: str = API_URL,
        retries: int = 0,
        retry_delay_secs: Union[int, float] = 0,
        timeout_secs: Union[int, float, None] = 300
    ):
        self._profile = None
        self.default_parameters = DefaultParameterSet(
            parse_mode=parse_mode,
            disable_link_preview=disable_link_preview,
            disable_notification=disable_notification,
            protect_content=protect_content,
            resize_reply_keyboard=resize_reply_keyboard
        )
        self.converter = Converter(default_parameters=self.default_parameters)
        self._session = Session(
            client=client,
            token=token,
            converter=self.converter,
            api_url=api_url,
            retries=retries,
            retry_delay_secs=retry_delay_secs,
            timeout_secs=timeout_secs,
            default_parameters=self.default_parameters
        )

    @property
    def profile(self) -> User:
        if self._profile is None:
            raise BotError(
                "Bot profile was not loaded! To use this property, you need to call "
                "`bot.get_me` method at least once!"
            )

        return self._profile
    {% for method in methods %}

    def {{ method.function_name }}(
        self,
        {% for i in method.positional_parameters %}
        {{ i.name }}: {{ i.type_hint }}{% if i.is_context %} = CONTEXT{% endif %},
        {% endfor %}
        *,
        {% for i in method.keyword_parameters %}
        {{ i.name }}: {{ i.type_hint }} = {% if i.is_optional and i.is_context %}OPTIONAL_CONTEXT{% elif i.is_context %}CONTEXT{% else %}UNSET{% endif %},
        {% endfor %}
        timeout_secs: Union[float, int, None, Unset] = UNSET
    ) -> {{ method.result_type_hint }}:
        data = self._session.send_request(
            method="{{ method.name }}",
            {% if method.parameters %}
            parameters={
                {% for i in method.parameters %}
                "{{ i.name.rstrip('_') }}": {{ i.name }}{% if not loop.last %},{% endif +%}
                {% endfor %}
            },
            {% endif %}
            timeout_secs=timeout_secs
        )

        {% if method.result_array_nesting and method.result_is_object %}
        return [
            self.converter.get_object(
                data=i,
                class_={{ method.result_object_type }}
            )
            for i in data
        ]
        {% elif method.result_is_object %}
        {% if method.name == "getMe" %}
        self._profile = self.converter.get_object(
            data=data,
            class_={{ method.result_object_type }}
        )

        return self._profile
        {% else %}
        return self.converter.get_object(
            data=data,
            class_={{ method.result_object_type }}
        )
        {% endif %}
        {% elif method.result_contains_object %}
        if isinstance(data, dict):
            return self.converter.get_object(
                data=data,
                class_={{ method.result_object_type }}
            )

        return data
        {% else %}
        return data
        {% endif %}
    {% endfor %}

    def download_file(
        self,
        path: str,
        file: BinaryIO,
        *,
        chunk_size: int = 64 * 1024,
        timeout_secs: Union[int, float, None] = None
    ) -> None:
        self._session.download_file(
            path=path,
            file=file,
            chunk_size=chunk_size,
            timeout_secs=timeout_secs
        )

    def drop_pending_updates(
        self,
        *,
        with_delete_webhook: bool = True,
        timeout_secs: Union[int, float, None] = None
    ) -> None:
        if with_delete_webhook:
            self.delete_webhook(timeout_secs=timeout_secs, drop_pending_updates=True)
        else:
            updates = self.get_updates(timeout_secs=timeout_secs, offset=-1)

            if updates:
                self.get_updates(timeout_secs=timeout_secs, offset=updates[-1].update_id + 1)

    def send_reply_menu(
        self,
        menu: ReplyMenu,
        chat_id: Union[int, str, Context] = CONTEXT,
        business_connection_id: Union[str, Context, None] = OPTIONAL_CONTEXT,
        message_thread_id: Union[int, Context, None] = OPTIONAL_CONTEXT,
        direct_messages_topic_id: Union[int, None, Unset] = UNSET,
        link_preview_options: Union[LinkPreviewOptions, None, Unset] = UNSET,
        disable_notification: Union[bool, None, Unset] = UNSET,
        protect_content: Union[bool, None, Unset] = UNSET,
        message_effect_id: Union[str, None, Unset] = UNSET,
        reply_parameters: Union[ReplyParameters, None, Unset] = UNSET,
        timeout_secs: Union[float, int, None, Unset] = UNSET
    ) -> Message:
        return self._send_menu(
            text=menu.text,
            reply_markup=menu.keyboard.get_markup(),
            chat_id=chat_id,
            parse_mode=menu.parse_mode,
            entities=menu.entities,
            media=menu.media,
            business_connection_id=business_connection_id,
            message_thread_id=message_thread_id,
            direct_messages_topic_id=direct_messages_topic_id,
            link_preview_options=link_preview_options,
            disable_notification=disable_notification,
            protect_content=protect_content,
            message_effect_id=message_effect_id,
            reply_parameters=reply_parameters,
            timeout_secs=timeout_secs
        )

    def send_inline_menu(
        self,
        menu: InlineMenu,
        chat_id: Union[int, str, Context] = CONTEXT,
        edit: bool = True,
        message_id: Union[int, Context, None] = OPTIONAL_CONTEXT,
        business_connection_id: Union[str, Context, None] = OPTIONAL_CONTEXT,
        message_thread_id: Union[int, Context, None] = OPTIONAL_CONTEXT,
        direct_messages_topic_id: Union[int, None, Unset] = UNSET,
        link_preview_options: Union[LinkPreviewOptions, None, Unset] = UNSET,
        disable_notification: Union[bool, None, Unset] = UNSET,
        protect_content: Union[bool, None, Unset] = UNSET,
        message_effect_id: Union[str, None, Unset] = UNSET,
        reply_parameters: Union[ReplyParameters, None, Unset] = UNSET,
        timeout_secs: Union[float, int, None, Unset] = UNSET
    ) -> Message:
        markup = menu.keyboard.get_markup()
        event = event_context.get(None)

        if (
            message_id
            or (
                (event is not None)
                and isinstance(event, CallbackQuery)
                and edit
            )
        ):
            if menu.media:
                data = self.converter.get_data(menu.media)
                data["caption"] = menu.text
                data["parse_mode"] = menu.parse_mode
                data["caption_entities"] = menu.entities
                media = self.converter.get_object(
                    data=data,
                    class_=type(menu.media)
                )

                return self.edit_message_media(
                    media=media,
                    business_connection_id=business_connection_id,
                    chat_id=chat_id,
                    message_id=message_id,
                    reply_markup=markup,
                    timeout_secs=timeout_secs
                )

            return self.edit_message_text(
                text=menu.text,
                business_connection_id=business_connection_id,
                chat_id=chat_id,
                message_id=message_id,
                parse_mode=menu.parse_mode,
                entities=menu.entities,
                link_preview_options=link_preview_options,
                reply_markup=markup,
                timeout_secs=timeout_secs
            )

        return self._send_menu(
            text=menu.text,
            reply_markup=markup,
            chat_id=chat_id,
            parse_mode=menu.parse_mode,
            entities=menu.entities,
            media=menu.media,
            business_connection_id=business_connection_id,
            message_thread_id=message_thread_id,
            direct_messages_topic_id=direct_messages_topic_id,
            link_preview_options=link_preview_options,
            disable_notification=disable_notification,
            protect_content=protect_content,
            message_effect_id=message_effect_id,
            reply_parameters=reply_parameters,
            timeout_secs=timeout_secs
        )

    def _send_menu(
        self,
        text: str,
        reply_markup: Union[ReplyKeyboardMarkup, InlineKeyboardMarkup],
        chat_id: Union[int, str, Context] = CONTEXT,
        parse_mode: Union[str, None, Unset] = UNSET,
        entities: Union[list[MessageEntity], None, Unset] = UNSET,
        media: Union[InputMedia, None, Unset] = UNSET,
        business_connection_id: Union[str, Context, None] = OPTIONAL_CONTEXT,
        message_thread_id: Union[int, Context, None] = OPTIONAL_CONTEXT,
        direct_messages_topic_id: Union[int, None, Unset] = UNSET,
        link_preview_options: Union[LinkPreviewOptions, None, Unset] = UNSET,
        disable_notification: Union[bool, None, Unset] = UNSET,
        protect_content: Union[bool, None, Unset] = UNSET,
        message_effect_id: Union[str, None, Unset] = UNSET,
        reply_parameters: Union[ReplyParameters, None, Unset] = UNSET,
        timeout_secs: Union[float, int, None, Unset] = UNSET
    ) -> Message:
        if media:
            if isinstance(media, InputMediaPhoto):
                return self.send_photo(
                    photo=media.media,
                    chat_id=chat_id,
                    caption=text,
                    parse_mode=parse_mode,
                    caption_entities=entities,
                    show_caption_above_media=media.show_caption_above_media,
                    has_spoiler=media.has_spoiler,
                    reply_markup=reply_markup
                )
            elif isinstance(media, InputMediaVideo):
                return self.send_video(
                    video=media.media,
                    chat_id=chat_id,
                    duration=media.duration,
                    width=media.width,
                    height=media.height,
                    thumbnail=media.thumbnail,
                    cover=media.cover,
                    start_timestamp=media.start_timestamp,
                    caption=text,
                    parse_mode=parse_mode,
                    caption_entities=entities,
                    show_caption_above_media=media.show_caption_above_media,
                    has_spoiler=media.has_spoiler,
                    supports_streaming=media.supports_streaming,
                    reply_markup=reply_markup
                )
            elif isinstance(media, InputMediaAnimation):
                return self.send_animation(
                    animation=media.media,
                    chat_id=chat_id,
                    duration=media.duration,
                    width=media.width,
                    height=media.height,
                    thumbnail=media.thumbnail,
                    caption=text,
                    parse_mode=parse_mode,
                    caption_entities=entities,
                    show_caption_above_media=media.show_caption_above_media,
                    has_spoiler=media.has_spoiler,
                    reply_markup=reply_markup
                )
            elif isinstance(media, InputMediaDocument):
                return self.send_document(
                    document=media.media,
                    chat_id=chat_id,
                    thumbnail=media.thumbnail,
                    caption=text,
                    parse_mode=parse_mode,
                    caption_entities=entities,
                    disable_content_type_detection=media.disable_content_type_detection,
                    reply_markup=reply_markup
                )
            elif isinstance(media, InputMediaAudio):
                return self.send_audio(
                    audio=media.media,
                    chat_id=chat_id,
                    caption=text,
                    parse_mode=text,
                    caption_entities=entities,
                    duration=media.duration,
                    performer=media.performer,
                    title=media.title,
                    thumbnail=media.thumbnail,
                    reply_markup=reply_markup
                )
            else:
                raise ValueError(f"Unknown media type {media.type!r}!")

        return self.send_message(
            text=text,
            chat_id=chat_id,
            business_connection_id=business_connection_id,
            message_thread_id=message_thread_id,
            direct_messages_topic_id=direct_messages_topic_id,
            parse_mode=parse_mode,
            entities=entities,
            link_preview_options=link_preview_options,
            disable_notification=disable_notification,
            protect_content=protect_content,
            message_effect_id=message_effect_id,
            reply_parameters=reply_parameters,
            reply_markup=reply_markup,
            timeout_secs=timeout_secs
        )
