{{ imports }}


class Bot:
    def __init__(
        self,
        token: str,
        *,
        parse_mode: Union[str, Unset] = UNSET,
        disable_link_preview: Union[bool, Unset] = UNSET,
        disable_notification: Union[bool, Unset] = UNSET,
        protect_content: Union[bool, Unset] = UNSET,
        api_url: str = API_URL,
        retries: int = 0,
        retry_delay_secs: Union[int, float] = 0,
        timeout_secs: Union[int, float, None] = 300
    ):
        self._profile = None
        self.default_parameters = DefaultParameterSet(
            parse_mode=parse_mode,
            disable_link_preview=disable_link_preview,
            disable_notification=disable_notification,
            protect_content=protect_content
        )
        self.converter = Converter(default_parameters=self.default_parameters)
        self._session = Session(
            token=token,
            converter=self.converter,
            api_url=api_url,
            retries=retries,
            retry_delay_secs=retry_delay_secs,
            timeout_secs=timeout_secs,
            default_parameters=self.default_parameters
        )

    def __enter__(self) -> "Bot":
        self.get_me()

        return self

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.close_session()

    @property
    def profile(self) -> User:
        if self._profile is None:
            raise BotError(
                "Bot profile was not loaded! To use this property, you need to call "
                "`bot.get_me` method at least once!"
            )

        return self._profile
    {% for method in methods %}

    def {{ method.function_name }}(
        self,
        {% for i in method.required_parameters %}
        {{ i.name }}: {{ i.type_hint }},
        {% endfor %}
        *,
        {% for i in method.optional_parameters %}
        {{ i.name }}: {{ i.type_hint }} = UNSET,
        {% endfor %}
        timeout_secs: Union[float, int, None, Unset] = UNSET
    ) -> {{ method.result_type_hint }}:
        data = self._session.send_request(
            method="{{ method.name }}",
            {% if method.parameters %}
            parameters={
                {% for i in method.parameters %}
                "{{ i.name.rstrip('_') }}": {{ i.name }}{% if not loop.last %},{% endif +%}
                {% endfor %}
            },
            {% endif %}
            timeout_secs=timeout_secs
        )

        {% if method.result_array_nesting and method.result_is_object %}
        return [
            self.converter.get_object(
                data=i,
                class_={{ method.result_object_type }}
            )
            for i in data
        ]
        {% elif method.result_is_object %}
        {% if method.name == "getMe" %}
        self._profile = self.converter.get_object(
            data=data,
            class_={{ method.result_object_type }}
        )

        return self._profile
        {% else %}
        return self.converter.get_object(
            data=data,
            class_={{ method.result_object_type }}
        )
        {% endif %}
        {% elif method.result_contains_object %}
        if isinstance(data, dict):
            return self.converter.get_object(
                data=data,
                class_={{ method.result_object_type }}
            )

        return data
        {% else %}
        return data
        {% endif %}
    {% endfor %}

    def close_session(self) -> None:
        self._session.close()

    def download_file(
        self,
        path: str,
        file: BinaryIO,
        *,
        chunk_size: int = 64 * 1024,
        timeout_secs: Union[int, float, None] = None
    ) -> None:
        self._session.download_file(
            path=path,
            file=file,
            chunk_size=chunk_size,
            timeout_secs=timeout_secs
        )

    def drop_pending_updates(
        self,
        *,
        with_delete_webhook: bool = True,
        timeout_secs: Union[int, float, None] = None
    ) -> None:
        if with_delete_webhook:
            self.delete_webhook(timeout_secs=timeout_secs, drop_pending_updates=True)
        else:
            updates = self.get_updates(timeout_secs=timeout_secs, offset=-1)

            if updates:
                self.get_updates(timeout_secs=timeout_secs, offset=updates[-1].update_id + 1)
