{{ imports }}


class Bot:
    def __init__(
        self,
        token: str,
        *,
        parse_mode: Union[str, Unset] = UNSET,
        disable_link_preview: Union[bool, Unset] = UNSET,
        disable_notification: Union[bool, Unset] = UNSET,
        protect_content: Union[bool, Unset] = UNSET,
        api_url: str = API_URL,
        retries: int = 0,
        retry_delay_secs: Union[int, float] = 0,
        wait_on_rate_limit: bool = False,
        timeout_secs: Union[int, float, None] = 300
    ):
        self._parse_mode = parse_mode
        self.disable_link_preview = disable_link_preview
        self.disable_notification = disable_notification
        self.protect_content = protect_content
        self._profile = None
        self._converter = Converter(parse_mode=parse_mode)
        self._session = Session(
            token=token,
            converter=self._converter,
            api_url=api_url,
            retries=retries,
            retry_delay_secs=retry_delay_secs,
            timeout_secs=timeout_secs,
            wait_on_rate_limit=wait_on_rate_limit
        )

    def __enter__(self) -> "Bot":
        self.get_me()

        return self

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.close_session()

    @property
    def profile(self) -> User:
        if self._profile is None:
            raise BotError(
                "Bot profile was not loaded! To use this property, you need to call "
                "`bot.get_me` method at least once!"
            )

        return self._profile

    @property
    def parse_mode(self) -> Union[str, Unset]:
        return self._parse_mode

    @parse_mode.setter
    def parse_mode(self, value) -> None:
        self._parse_mode = value
        self._converter.parse_mode = value
    {% for method in methods %}

    def {{ method.function_name }}(
        self,
        {% for i in method.required_parameters %}
        {{ i.name }}: {{ i.type_hint }},
        {% endfor %}
        *,
        {% for i in method.optional_parameters %}
        {{ i.name }}: {{ i.type_hint }} = UNSET,
        {% endfor %}
        timeout_secs: Union[float, int, None, Unset] = UNSET
    ) -> {{ method.result_type_hint }}:
        data = self._session.send_request(
            method="{{ method.name }}",
            {% if method.parameters %}
            parameters={
                {% for i in method.parameters %}
                "{{ i.name.rstrip('_') }}": {{ i.value_code }}{% if not loop.last %},{% endif +%}
                {% endfor %}
            },
            {% endif %}
            timeout_secs=timeout_secs
        )

        {% if method.result_array_nesting and method.result_is_object %}
        return [
            self._converter.get_object(
                data=i,
                class_={{ method.result_object_type }}
            )
            for i in data
        ]
        {% elif method.result_is_object %}
        return self._converter.get_object(
            data=data,
            class_={{ method.result_object_type }}
        )
        {% elif method.result_contains_object %}
        if isinstance(data, dict):
            return self._converter.get_object(
                data=data,
                class_={{ method.result_object_type }}
            )

        return data
        {% else %}
        return data
        {% endif %}
    {% endfor %}

    def close_session(self) -> None:
        self._session.close()

    def download_file(
        self,
        path: str,
        file: BinaryIO,
        *,
        chunk_size: int = 64 * 1024,
        timeout_secs: Union[int, float, None] = None
    ) -> None:
        self._session.download_file(
            path=path,
            file=file,
            chunk_size=chunk_size,
            timeout_secs=timeout_secs
        )

    def _get_parse_mode(
        self,
        parse_mode: Union[str, None, Unset],
        entities: Optional[list[MessageEntity]] = None
    ) -> Optional[str]:
        if parse_mode is not UNSET:
            return parse_mode
        elif self._parse_mode is not UNSET and not entities:
            return self._parse_mode

    def _get_link_preview_options(
        self,
        options: Union[LinkPreviewOptions, None, Unset]
    ) -> Optional[LinkPreviewOptions]:
        if options:
            if options.is_disabled is not UNSET:
                return options
            elif self.disable_link_preview:
                data = self._converter.get_data(options)
                data["is_disabled"] = True

                return self._converter.get_object(
                    data=data,
                    class_=LinkPreviewOptions
                )
        elif self.disable_link_preview:
            return LinkPreviewOptions(is_disabled=True)

    def _get_disable_notification(
        self,
        disable_notification: Union[bool, None, Unset]
    ) -> Optional[bool]:
        if disable_notification is not UNSET:
            return disable_notification
        elif self.disable_notification:
            return True

    def _get_protect_content(
        self,
        protect_content: Union[bool, None, Unset]
    ) -> Optional[bool]:
        if protect_content is not UNSET:
            return protect_content
        elif self.protect_content:
            return True
