{{ imports }}


Event = Union[
    {% for i in hint_types %}
    {{ i }}{% if not loop.last %},{% endif +%}
    {% endfor %}
]
Handler = Callable[["Context"], None]
ErrorHandler = Callable[["Context"], None]
