__pycache__/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
venv/
ENV/
env.bak/
venv.bak/
*.py[cod]
*$py.class
*.so
.installed.cfg
.env
.venv
.idea
.pytest_cache/
