{{ imports }}


{% if type_.is_union %}
{{ type_.name }} = Union[
    {% for i in type_.types %}
    {{ i }}{% if not loop.last %},{% endif +%}
    {% endfor %}
]
{% else %}
@define(repr=False)
class {{ type_.name }}(Type):
    {% if type_.fields %}
    {% for i in type_.fields %}
    {{ i.name }}: {{ i.type_hint }} = field({% if i.value is not none %}default="{{ i.value }}", kw_only=True{% elif i.is_optional %}factory=default_factory, kw_only=True{% endif %})
    {% endfor %}
    {% else %}
    pass
    {% endif %}
    {% if type_.additional_code is not none %}
    {{ type_.additional_code }}
    {% endif %}
{% endif %}
